body , html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%; 
    height: 110%; 
    z-index: -1;
  }

.login-box {
    height: 50%;
    width: 20%;
    background: #ffffff9d;
    box-shadow: black;
    box-sizing: 25px;
    padding: 30px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;

}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #f3f70583;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

button:hover {
    background-color: #faf200fd;
}